@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Poppins:wght@100&family=Rubik+Doodle+Shadow&family=Rubik+Doodle+Triangles&family=Space+Grotesk:wght@300&family=Work+Sans:wght@300&display=swap');


.search{
    width: 2vmax;
}


.navbar-brand>img{
    height: 50px;
}

.speedDial{
    position: fixed;
    right: 2vmax;
    top: 5vmax;
}

.speedDialIcon{
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

.nav-link{
    font-family: "Rubik Doodle Triangles" !important;
    font-size: 20px;
}